* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
  align-items: center;
  padding-top: 30px;
}

.button_gamburger img{
    margin-left: 35px;
}

.first_screen {
  background-image: url("uber.jpg");
  width: 100%;
  height: 867px;
}

.first_screen::before {
  background-color: rgba(0, 0, 0, 0);
}

.margin_header {
  margin-right: 1350px;
  color: white;
  font-size: 35px;
}

.margin_next {
  margin-right: 40px;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 500px;
  border-width: 0px;
  color: black;
  background-color: #eeeeee;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inpouts {
  padding-bottom: 50px;
  margin-left: 40px;
}

.order {
  margin-bottom: 25px;
  font-size: 52px;
  color: black;
  line-height: 64px;
  font-weight: 700px;
}

.lokation_inpout{
    position: relative;
}

.location-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 16px;
    top: 15px;
}

.inpouts_form{
    display: flex;
    justify-content: space-between;
    width: 835px;
}

.select_form{
  position: relative;
}

.clock-icon{
  position: absolute;
  left: 8px;
  top: 19px;
  width: 20px;
  height: 20px;

}

.find_food {
  padding: 12px 16px;
  color: white;
  background-color: black;
}

.input_enter_delivery {
    width: 540px;
    height: 56px;
    border: 0;
    padding-left: 50px;
    background-color: white;
}

.href_sing_in {
  margin-top: 15px;
  color: black;
  font-size: 0.5cm;
}

.href_sing_in a{
  color: black;
  font-size: 14px;
  font-family: sans-serif;
}

.main_select {
  padding: 12px 30px;
  border: 0px;
  height: 56px;
}

.benefit_card{
  margin-right: 80px;

}

.benefit_card img {
  width: 510px;
}

.benefit_card a{
    color: black;
    font-size: 16px;
}

.benefits {
  display: flex;
  padding: 35px;
  padding-right: 0px;
  margin-top: 40px;
}

.benefit_card h2 {
  margin: 10px 0px;
}

.section_map {
  margin-top: 20px;
  margin-left: 40px;
}

.h1_size {
  margin-bottom: 30px;
  font-size: 0.9cm;
}

.citis {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.citis_blok {
  margin-left: 40px;
  margin-right: 50px;
}

.citis_blok a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.citis_blok div {
  margin-bottom: 10px;
}

.countres {
  margin-left: 40px;
  margin-right: 50px;
}

.countries_cointeiner {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.countres_blok a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.countres_blok div {
  margin-bottom: 10px;
}

.get_help {
  background-color: black;
}

.h2_color {
  color: white;
}

.helping_cointeiner {
  display: flex;
  margin-left: 550px;
  margin-top: 30px;
}

.helping_blok a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

.helping_blok a:hover{
  text-decoration: underline;
}


.helping_blok div {
  margin-bottom: 20px;
  margin-left: 100px;
}


.help_cointeiner {
  display: flex;
  margin-bottom: 25px;
}

.stores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cointeiner {
  margin: 5px 40px 0px 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.stories_img {
  padding-right: 5px;
}

.social_networks {
  margin-left: 40px;
  margin-top: 30px;
}

.social_networks img{
    padding-right: 20px;
}

.social_networks a {
    text-decoration: none;
}

.dowland {
  display: flex;
  justify-content: space-between;
  margin-left: 1200px;
}

.information {
  margin-right: 50px;
  margin-bottom: 100px;
}

.information div{
    margin-bottom: 20px;
}


.information a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
